@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    background-color: #293556;
    font-family: "Nunito";
}
h1 {
font-size: 35px;
color: white;
text-align: center;
}
p {
    margin-top: 10px;
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 200%;
}
.d-button {
    background-color: #5983fc;
    color:white;
    border-radius: 6px;
    padding: 10px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    outline: none;
    text-decoration: none;
    width: 75px;
    height: 20px;
    margin-top: 10px;
}
.software-example {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin: right;
    width: 40%;
}
    li, a, button {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-size: 17px;
        color: white;
        text-decoration: none;
        outline: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
    }
    .logo {
        cursor: pointer;
        outline: none;
    }
    .nav_links {
        list-style: none;
        outline: none;
    }
    .nav_links li {
        display: inline-block;
        padding: 0px 20px;
        outline: none;
        
    }
    .nav_links li a {
        transition: all 0.3s ease 0s;
    }
    .nav_links li a:hover {
        color: #3e60c1;
    }
    button {
        padding: 9px 25px;
        background-color: #5983fc;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        outline: none;
    }
    button:hover {
        background-color: #333;
    }
    header {
        background-color: #151A2E;
        height: 4px;
        border-radius: 15px;
    }
    .pfp {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .showcase {
        background-color: #2e4583;
        border: 2px #2e4583;
        border-radius: 6px;
        width: 340px;
        margin: auto;
        margin-top: 10px;
    }
    .div-2 {
        display: inline-block;
        margin-top: 30px;
    }